# -------------
# DEV
# -------------

# User permissions for Docker containers
# Use if your UID and GID are not 1000
# UID=$(id -u)
# GID=$(id -g)

# -------------
# Node
# -------------
NODE_ENV=development
DEBUG_PORT=9229
LISTEN_IP=0.0.0.0

# -------------
# DATABASE
# -------------

# PostgreSQL connection string. Used by the app and by Kysely migrations (kysely-ctl).
# With docker we listen to the postgres network, but it is reachable with localhost on our port
DATABASE_URL="postgresql://postgres:password@postgres:5432/caddie_app?schema=public"

# -------------
# AUTH
# -------------

### JWT
SECRET="CHANGE_ME"

### Name of the session cookie
COOKIE_NAME="SESSION_ID"

### Cookie login for Rest-Client
COOKIE="SESSION_ID=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjOWEyNTUzZS0zZDc3LTRjMDctOTMxYS1iMWIzYTA3NGFhNjEiLCJpYXQiOjE2OTM4NjA1MDIsImV4cCI6MTY5OTA0NDUwMn0.K2c7Q5u6hbZMxKQV8bIDnPDtjAd_ihgfNvFbsvhovQY; Expires=Fri, 03 Nov 2023 20:48:22 GMT; HttpOnly; Secure; SameSite=Strict"
