# -------------
# DEV
# -------------

# User permissions for Docker containers
# Use if your UID and GID are not 1000
# UID=$(id -u)
# GID=$(id -g)

# -------------
# Node
# -------------
NODE_ENV=development
DEBUG_PORT=9229

# -------------
# Nest
# -------------
NEST_IP=0.0.0.0
NEST_PORT=3001

# -------------
# DATABASE
# -------------

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=caddie_app

# -------------
# AUTH
# -------------

### JWT
SECRET="CHANGE_ME"

### Name of the session cookie
COOKIE_NAME="SESSION_ID"

### Cookie login for Rest-Client
COOKIE="SESSION_ID=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjOWEyNTUzZS0zZDc3LTRjMDctOTMxYS1iMWIzYTA3NGFhNjEiLCJpYXQiOjE2OTM4NjA1MDIsImV4cCI6MTY5OTA0NDUwMn0.K2c7Q5u6hbZMxKQV8bIDnPDtjAd_ihgfNvFbsvhovQY; Expires=Fri, 03 Nov 2023 20:48:22 GMT; HttpOnly; Secure; SameSite=Strict"
