# -------------
# DEV
# -------------

# User permissions for Docker containers
# Use if your UID and GID are not 1000
# UID=$(id -u)
# GID=$(id -g)

# -------------
# Node
# -------------
NODE_ENV=development
DEBUG_PORT=9229

# -------------
# Nest
# -------------
NEST_IP=0.0.0.0
NEST_PORT=3001

# -------------
# DATABASE
# -------------

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=caddie_app

# -------------
# AUTH
# -------------

### JWT
SECRET="CHANGE_ME"
ACCESS_TOKEN_SECRET="CHANGE_ME_ACCESS"
REFRESH_TOKEN_SECRET="CHANGE_ME_REFRESH"
ACCESS_TOKEN_TTL="15m"
REFRESH_TOKEN_TTL="14d"

### Name of the auth cookies
ACCESS_COOKIE_NAME="SESSION_ID"
REFRESH_COOKIE_NAME="SESSION_REFRESH_ID"

### Cookie login for Rest-Client
COOKIE="SESSION_ID=access-token; SESSION_REFRESH_ID=refresh-token"
