{
    "$schema": "https://json.schemastore.org/swcrc",
    "sourceMaps": true,
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "decorators": true,
        "dynamicImport": true
      },
      "baseUrl": "./",
      "paths": {
        "@/database/*": ["src/database/*"],
        "@/shopping/*": ["src/shopping/*"],
        "@/subscribers/*": ["src/subscribers/*"],
        "@/users/*": ["src/users/*"]
      }
    },
    "minify": false
}