services:
  postgres:
    image: postgres:17-alpine
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: caddie_app
    ports:
      - '5432:5432'
    networks:
      - backend

  backend:
    build:
      context: ./
      dockerfile: ./docker/app/local/Dockerfile
    volumes:
      - '.:/app'
    ports:
      - '3001:3001' # Nest
      - '9229:9229' # Debug
      - '9230:9230' # Debug Tests
    depends_on:
      - postgres
    working_dir: /app
    command: ['npm', 'run', 'start:debug']
    user: "${UID:-1000}:${GID:-1000}"
    env_file:
      - .env
    networks:
      - caddie_network
      - backend

networks:
  caddie_network:
    external: true
  backend: